<div *ngIf="loading === false">
  <button type="button" class="btn btn-outline-primary ml-2 btn-sm float-right" (click)="openChrModal(chreditmodal)"
          *ngIf="character.mine">Edit
  </button>

  <!-- Opens attribute editor modal -->
  <button class="btn btn-outline-dark btn-sm float-right ml-2" (click)="openModal(attrModal)" *ngIf="character.mine">
    Edit Attributes
  </button>

  <!-- Shows a button to the character's current campaign (if there is one) with a tooltip of the campaign name -->
  <button class="btn btn-outline-dark btn-sm float-right ml-2" routerLink="/campaign/{{ character.campaign.id }}"
          *ngIf="character.campaign !== null" tooltip="{{ character.campaign.name }}" placement="top">View Campaign
  </button>


  <div class="media">
    <img *ngIf="character.image" class="mr-3 img-thumbnail" src="{{character.image}}" alt="Character image">
    <div class="media-body">
      <h4>{{ character.name }}</h4>
      <div *ngIf="character.description; else nobackstory" [innerHTML]="character.description"></div>
    </div>
  </div>

  <div *ngIf="attrs(['ac', 'init', 'speed']).length > 0">
    <hr/>

    <!-- Main attributes -->
    <div class="d-flex w-100 justify-content-around mt-3">
      <h4 *ngIf="attr('ac')"><b>AC: </b>{{ attr('ac').value }}</h4>
      <h4 *ngIf="attr('init')"><b>Initiative: </b>{{ attr('init').value }}</h4>
      <h4 *ngIf="attr('speed')"><b>Speed: </b>{{ attr('speed').value }}</h4>
    </div>

    <hr/>
  </div>

  <!-- Secondary attribute tables -->
  <div class="row mt-3">
    <div class="col-6" *ngIf="statAttributes.length > 0">
      <h5>Stats</h5>
      <table class="table table-sm">
        <tbody>
        <tr *ngFor="let attr of statAttributes">
          <td scope="row">{{ attr.key }}</td>
          <td>{{ attr.value }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6" *ngIf="skillAttributes.length > 0">
      <h5>Skills</h5>
      <table class="table table-sm">
        <tbody>
        <tr
          *ngFor="let attr of skillAttributes">
          <td scope="row">{{ attr.key }}</td>
          <td>{{ attr.value }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Shows if the character has no attributes -->
  <div class="text-muted font-italic text-center"
        *ngIf="character.attributes.length === 0">
    {{ character.name }} doesn't seem to have any attributes
  </div>

  <!-- Shows the remaining attributes in an ugly table -->
  <div class="list-group">
    <div class="list-group-item" *ngFor="let attr of nonReservedAttributes">
      <h6 class="text-muted float-right">{{ attr.value }}</h6>
      <h5>{{ attr.key }}</h5>
    </div>
  </div>
</div>

<app-spinner *ngIf="loading === true"></app-spinner>

<ng-template #attrModal>
  <div class="modal-header">Attributes</div>
  <div class="modal-body">
    <app-attribute-editor [characterId]="character.id" (doneEvent)="attrModalRef.hide()"></app-attribute-editor>
  </div>
</ng-template>

<ng-template #nobackstory>
  <span class="text-muted font-italic">{{ character.name }} has no backstory</span>
</ng-template>

<ng-template #chreditmodal>
  <app-character-form [edit]="true" [editId]="character.id"></app-character-form>
</ng-template>
