<div>
  <app-spinner *ngIf="loading === true"></app-spinner>
  <form (ngSubmit)="save()">
    <fieldset [disabled]="loading === true">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Campaign Name" name="name" [(ngModel)]="campaign.name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <quill-editor name="description" placeholder="Campaign description" [(ngModel)]="campaign.description"  [modules]="{toolbar: [['bold', 'italic', 'underline', 'strike'], ['blockquote']]}"></quill-editor>
      </div>
      <button routerLink="/home" class="btn btn-outline-dark">Cancel</button>
      <button class="btn btn-primary" (click)="save()">Save</button>
    </fieldset>
  </form>
</div>
