<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Home</a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav pt-1">
        <li class="nav-item" *ngIf="loggedIn === false">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <app-notification-bubble *ngIf="loggedIn === true"></app-notification-bubble>
    <div class="btn-group" dropdown placement="bottom right" *ngIf="loggedIn === true">
      <button dropdownToggle type="button" class="btn btn-outline-dark btn-sm float-right ml-2 dropdown-toggle">
        Me
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a routerLink="/logout" class="dropdown-item" *ngIf="loggedIn === true">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
