<div class="card">
  <div class="card-header">
    <app-character-form class="float-right"></app-character-form>
    <h5>Characters</h5>
  </div>
  <div class="list-group list-group-flush"
       *ngIf="characters !== undefined && characters.length > 0">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let character of characters"
         (click)="selectCharacter(character)">
      {{character.name}}
    </button>
  </div>
  <div class="card-body p-3 text-muted font-italic text-center" *ngIf="characters !== undefined && characters.length === 0">
    You don't have any characters
  </div>
  <div class="card-body" *ngIf="loading === true">
    <app-spinner></app-spinner>
  </div>
</div>
