<div class="card">
  <div class="card-header">
    <app-character-form class="float-right"></app-character-form>
    <span class="float-left">Characters</span>
  </div>
  <div class="list-group list-group-flush"
       *ngIf="characters !== undefined && characters.length > 0; else noCharacters">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let character of characters"
         (click)="selectCharacter(character)">
      {{character.name}}
    </button>
  </div>
  <app-spinner *ngIf="loading === true"></app-spinner>
</div>

<ng-template #noCharacters>
  <span class="text-muted p-3">You have no characters!</span>
</ng-template>
