<div class="card mt-2">
  <span class="card-header">
    Quests
    <button class="btn btn-outline-dark btn-sm float-right" *ngIf="editable" (click)="lgModal.show()">Edit</button>
  </span>
  <app-spinner *ngIf="loading === true"></app-spinner>
  <div class="list-group list-group-flush" *ngIf="quests && quests.length > 0; else noquests">
    <button class="list-group-item list-group-item-action" *ngFor="let quest of quests">
      {{ quest.name }}
    </button>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        Quest Editor
      </div>
      <div class="modal-body">
        <app-quest-editor [campaignId]="campaignId"></app-quest-editor>
      </div>
    </div>
  </div>
</div>

<ng-template #noquests>
  <div class="card-body text-muted font-italic text-center" *ngIf="quests && quests.length === 0">
    There don't seem to be any quests here
  </div>
</ng-template>
